/* ------------- fonts ------------- */

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../res/fonts/dosis.woff) format('woff');
}

/* --------- Generic definitions ---------- */

body, input{
	font:13px 'Dosis',Arial,Verdana,Helvetica,sans-serif;
	color:#1c1d1d;
	letter-spacing: 1px;
}

body{
	padding:25px 0 0 0;
	margin:0;
}

input[type=text], input[type=number], textarea{
	border:1px solid #ccc;
	outline-width: 0;
	border-radius:3px;
}

input[type=button], .button{
	border:1px solid #5c5c5c;
	border-radius:5px;
	padding:3px 12px;
	font-weight:bold;
	display:inline-block;
	color:#000;
	font-size: 13px;
	text-decoration: none;
	box-shadow: 0px 1px 5px rgba(68,68,68,0.6);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(48%,#eeeeee), color-stop(50%,#e0e0e0), color-stop(100%,#ffffff));
	-webkit-transition: all .2s linear;
}

input[type=button]:hover, .button:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#badaf8), color-stop(48%,#79b9f4), color-stop(50%,#5fa1e8), color-stop(100%,#d3ffff));
	border:1px solid #4779cf;
	box-shadow: 0px 0px 20px rgba(121,185,244,0.8);
}

input[type=button]:active, .button:active{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3ffff), color-stop(48%,#5fa1e8), color-stop(50%,#79b9f4), color-stop(100%,#badaf8));
}

.negative-hours{color:#f00;}

h2{
	color:#000;
	font-size:20px;
	font-weight:bold;
}

.hide{display:none;}


/* --------- structure --------- */
#wrapper{
	width:1250px;
}
.main-info{width:800px;}
.general-information{width:450px;}

/* ---------- Menu ----------  */

#fixed-bar{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background:#323232;
	opacity: .9;
	font-weight: bold;
	color:#fff;
	min-width:1260px;
	z-index:99;
}

#header, #menu{
	float:left;
	list-style-type: none;
	margin:0;
	padding:0;
}

#header li, #menu li{
	display:block;
	float:left;
	text-align: center;
}

#menu{float:right;}

#header li{
	border:1px solid #555;
	border-width: 0px 1px 0px 0px;
	padding:4px 0;
	font-weight: normal!important;
}


#menu li a{
	display:inline-block;
	text-decoration:none;
	padding:5px 10px;
	color:#fff;
	-webkit-transition: all .4s linear;
}

.date{width:103px;}
.day_date{width:52px;}
.day_week{width:50px;}

.begin-day{width:78px;}
.start-lunch{width:73px;}
.end-lunch{width:91px;}
.end-day{width:74px;}
.vpn-cell{width:55px;}
.all-worked{width:60px;}
.lunch{width:57px;}
.extra{width:73px;}
.note{width:35px;}
.is-ausent{width:85px;}

#fixed-bar li a:hover{background:#525252;}

/* ------ Table definitions -----  */

#printable-header,
#row-template{display:none;}

#main-table{
	border-collapse:collapse;
	border-spacing: 0;
	width:795px;
}

#main-table tr:hover{
	background:#3875d7!important;
	color:#fff;
}

#main-table tr:hover .negative-hours{color:#e7c6c6;}

#main-table tr{background: #eef4ff;}
#main-table .even{background:#e0eafd;}

#main-table .weekend{background:#fdfeff; }
#main-table .weekend.even{background:#f9fafd; }

#main-table .holiday, #legend-table .holiday{background:#99c7de!important;}

#main-table tr{border-bottom: 1px dotted #E7EBED;}
#main-table td{
	padding:2px 0px;
	text-align: center;
	border:1px dotted #ccc;
	border-width: 0px 1px 0 0;
}

#main-table input{
	width:50px;
	text-align: center;
}

#main-table .obs{display:none;}

#main-table .view-full-obs{
	display:block;
	width:26px;
	height:26px;
	background:url(../res/img/empty.png);
	margin:auto;
	opacity:.8;
}

#main-table .view-full-obs.filled{
	background:url(../res/img/filled.png);
	opacity:1;
}

#box-obs{
	position:absolute;
	background:rgba(0,0,0, 0.4);
	display:none;
	border-radius:7px;
	height:61px;
	-webkit-background-clip: border;
	-webkit-background-clip: padding;
	border: 8px solid rgba(0,0,0, 0.4);
}

#box-obs textarea{
	border: 1px solid #8EAAB0;
	width: 200px;
	height: 55px;
	border-radius:7px;
}

#box-obs .close-obs{
	position:absolute;
	display:block;
	width:20px;
	height:20px;
	border-radius:10px;
	text-align:center;
	font-weight:bold;
	right:-15px;
	top:-15px;
	text-decoration:none;
	color:#fff;
	background:#999999;
}

/* --------- Pannel definitions ---------- */

.general-information .line div{
	padding:5px 10px;
}

.general-information .last-line{
	margin:0 20px 20px 0;
	padding-bottom:10px;
	border-bottom:1px dotted #555;
}

.general-information div{
	font-size:14px;
	line-height:25px;
}

.general-information div.label{
	width:90px;
}

 .general-information div.information{
 	font-weight:bold;
 	font-size:22px;
 	width:130px;
 }
 
 .general-information div.information.small{
 	font-size:15px;
 }

#inputfile-import-data{
	opacity:0;
	height:0;
}

#aditional-information .label{width:230px;}

/* ---------- lightbox ----------  */

.lightbox{
	position:fixed;
	background:#fff;
	padding:10px;
	width:500px;
	display:none;
	-webkit-background-clip: border;
	-webkit-background-clip: padding;
	border: 15px solid rgba(0,0,0, 0.4);
	border-radius:10px;
	z-index:9999;
}

.lightbox .close-button{
	position:absolute;
	right:-28px;
	top:-28px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	font-size:23px;
	width:36px;
	height:36px;
	background: #999999;
	border-radius: 18px;
	text-align: center;
	line-height: 30px;
}

.lightbox .close-button:hover{
	color:#b4cedc;
}

.lightbox .center{
	text-align:center;
	margin-top:15px;
}

.lightbox .center > *{
	margin:auto;
	text-align:left;
}

/* ---------- holidays ----------  */

#holidays-list-container{
	max-height:340px;
	overflow:auto;	
}

#holidays th{text-align:left;}
#holidays .holiday_description{width:300px;}

/* ---------- configuration ----------  */

#configuration input{
	font-size:14px;
}


/* ---------- Legend ----------  */
#legend .color{
	width:22px;
	height:20px;
	border:1px solid;
}

#legend .commom_day{
	border:11px solid;
	border-color: #eef4ff #eef4ff #e0eafd #e0eafd;
	width:0px;
	height:0px;
}
#legend .weekend .weekend{
	border:11px solid;
	border-color: #fdfeff #fdfeff #f9fafd #f9fafd;
	width:0px;
	height:0px;
}
